@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --white: #FFFFFF;

 --black: #010101;

 --blue-200: #3595CC;
 --blue-400: #2C7BAF;
 --blue-600:#2B78FB;

 --gray--400:#3E4D55;

 --orange: #F0833C;
}



body {
  color: var(--gray--400);
  background:  var(--white)
}
